<section class="home-slider owl-carousel">
    {% load static %}
  <div class="slider-item" style="background-image:url('/static/images/bg_1.jpg');">
      <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-8 text-center ftco-animate">
        <h1 class="mb-4">Çocuklar Dünyanın <span>En iyi Kaşifleridir.</span></h1>
        <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Devamını Oku</a></p>
      </div>
    </div>
    </div>
  </div>

  <div class="slider-item" style="background-image:url(/static/images/bg_2.jpg);">
      <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-8 text-center ftco-animate">
        <h1 class="mb-4">Özel Çocuklar için<span> En iyi eğitim</span></h1>
        <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Devamını Oku</a></p>
      </div>
    </div>
    </div>
  </div>
</section>