<section class="ftco-section ftco-no-pt ftc-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
          <h2 class="mb-4">Dönence Özel Eğitim Kurumuna Hoş Geldiniz</h2>
                    
                    <p>Okulumuzun kuruluş hikayesi buluya gelecektir. Okulumuzun kuruluş hikayesi buluya gelecektir. Okulumuzun kuruluş hikayesi buluya gelecektir. Okulumuzun kuruluş hikayesi buluya gelecektir.</p>
                    <p><a href="#" class="btn btn-secondary px-4 py-3">Okumaya Devam Edin</a></p>
                </div>
            </div>
            <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
           <h2 class="mb-4">Okulumuz</h2>
                <p>Okulumuz Özel eğitim alanında kurulmuş ve bu alanda hizmet vermektedir.</p>
                <div class="row mt-5">
                    {% for Future in Futures%}
                    <div class="col-lg-6">
                        <div class="services-2 d-flex">
                            <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-{{ Future.month }}"></span></div>
                            <div class="text">
                                <h3>{{ Future.headers }}</h3>
                                <p>{{ Future.Explanation }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>