
    <section class="ftco-services ftco-no-pb">
        <div class="container-wrap">
            <div class="row no-gutters">
      <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-teacher"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Sertifikalı Öğretmenlerimiz</h3>
            <p>Dönence Özel Eğitim Kurumumda sertifikalı öğretmen kadromuz bulunmaktadır.</p>
          </div>
        </div>      
      </div>
      <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-reading"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Özel Eğitim</h3>
            <p>Özel çocuklarımız için kurumumuzda özel eğitim vermekteyiz</p>
          </div>
        </div>    
      </div>
      <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-books"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Kitap &amp; Kütüphane</h3>
            <p>çocuklarımız için en uygun ortamda ve imkanlarda eğitim vermekteyiz</p>
          </div>
        </div>      
      </div>
      <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
        <div class="media block-6 d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center">
                <span class="flaticon-diploma"></span>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Sertifika</h3>
            <p>kurumumuz gerekli olan sertifikalara sahip bulunmaktadır.</p>
          </div>
        </div>      
      </div>
    </div>
        </div>
    </section>