<section class="ftco-intro" style="background-image: url(/static/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Çocuğunuza En İyi Eğitimi Veren Kurum</h2>
                <p class="mb-0">
                    Yerlerinden Düden adlı küçük bir nehir akar ve onu gerekli olan regelia ile besler. Cümlelerin kavrulmuş kısımlarının ağzınızda uçuştuğu cennet gibi bir ülke.</p>
            </div>
      
        </div>
    </div>
</section>