{% extends "base.html" %}

{% block content %}

    {% include "include/navbar.html" %}
	{% include "include/banner.html" %}
	{% include "include/features.html" %}
		
	{% include "include/deneme.html" %}
	
	{% include "include/modal.html" %}
	{% include "include/Manners.html" %}
	{% include "include/Courses.html" %}
	{% include "include/Experience.html" %}
	{% include "include/parents.html" %}
	{% include "include/teacher.html" %}
	{% include "include/blog.html" %}
	{% include "include/pdfmodal.html" %}
	{% include "include/galery.html" %}
	{% include "include/footer.html" %}
{% endblock content %}